/* ref: https://github.com/jgthms/bulma/issues/2192#issuecomment-433683843 */
.dropdown-content {
  max-height: 13em;
  overflow: auto;
}

.fixed-height {
  height: 10em;
  overflow: auto;
}

.fixed-height-pandel {
  max-height: 22em;
  overflow: auto;
}