/* ref: https://github.com/jgthms/bulma/issues/2192#issuecomment-433683843 */
.dropdown-content {
  max-height: 13em;
  overflow: auto;
}

.h-scroll {
  /* overflow: hidden; */
  overflow-x: auto;
  white-space: nowrap;
}
